<div class="formulario">
<table>
  <tr>
    <th></th>
    <th>Dato inicial </th>
    <th>Primer bimestre de decisión </th>
    <th>Mas especificaciones</th>
  </tr>
  <tr>
    <td>Precio</td>
    <input type="number" id="precio-ini" name="precio-ini" min="1">
  </tr>
  <tr>
    <td>Producción</td>
    <input type="number" id="precio-ini" name="precio-ini" min="1" >

  </tr>
  <tr>
    <td>Inversión en Marketing</td>
    <input type="number" id="precio-ini" name="precio-ini" min="1" >

  </tr>
  <tr>
    <td>Inversión  en investigación</td>
    <input type="number" id="precio-ini" name="precio-ini" min="1" >

  </tr>
  <tr>
    <td>Inversión de capital</td>
    <input type="number" id="precio-ini" name="precio-ini" min="1" >
  </tr>
</table>
<button (click)="iniciar()" auto>
  Start
</button>
</div>